/ffmpeg
/napari-nifti
/NeuroRecord
*.zip
/labelImg
*.mp4
*.wav
/web_annotation/node_modules/@electron-forge
/web_annotation/node_modules/@electron
/web_annotation/node_modules
/web_annotation/
/my-electron-app
/data/dataset_resolution_uncropped
/data/SPL007
*.gz
